.text{font-family:arial;margin:auto;}
.tabl {font-family:arial;}
.text1{font-family:arial;}
.index{font-family:arial;margin-top:20px;margin-right:40px;margin-bottom:100px;margin-left:20px;}
p {text-indent:25px; color:ffa500;background-color: #000000}
h3 {text-indent:25px; color:ffffff;background-color: #000000}
h2 {text-indent:25px; color:ffffff;background-color: #000000}
h1 {text-indent:25px; color:ffffff;background-color: #000000}
body {background-color: #000000; }
.text {text-indent:25px;background-color: #000000}
.index1{color:ffffff}
.index1:hover{color:ffa500}
p.photo{text-align:center;}
a{text-decoration:none;}
САЙТ : ЧОРНЫЙ ФОН ОРАНЖЕВЫЕ БУКВЫ БЕЛАЯ ТАБЛИЧКА
